<page-heading id="animations" [title]="'Animation Utilities'"></page-heading>

<p class="mb-4">
    Bootstrap's default utility classes can be found on the official
    <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page.
    The custom utilities below were created to extend this theme past the default
    utility classes built into Bootstrap's framework.
</p>

<!-- Animations Row -->
<div class="row">

    <!-- Grow In Utility -->
    <div class="col-lg-6">

        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Grow In Animation Utilty</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <code>.animated--grow-in</code>
                </div>
                <div class="small mb-1">Navbar Dropdown Example:</div>
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <p class="mb-0 small">Note: This utility animates the CSS transform property, meaning it will override
                    any existing transforms on an element being animated! In this theme, the grow in animation is only
                    being used on dropdowns within the navbar.</p>
            </div>
        </div>

    </div>

    <!-- Fade In Utility -->
    <div class="col-lg-6">

        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Fade In Animation Utilty</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <code>.animated--fade-in</code>
                </div>
                <div class="small mb-1">Navbar Dropdown Example:</div>
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="small mb-1">Dropdown Button Example:</div>
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <p class="mb-0 small">Note: This utility animates the CSS opacity property, meaning it will override any
                    existing opacity on an element being animated!</p>
            </div>
        </div>

    </div>

</div>

<page-heading id="borders" [title]="'Borders Utilities'"></page-heading>

<!-- Borders Content Row -->
<div class="row">

    <!-- Border Left Utilities -->
    <div class="col-lg-6">

        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                .border-left-primary
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-secondary">
            <div class="card-body">
                .border-left-secondary
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-success">
            <div class="card-body">
                .border-left-success
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-info">
            <div class="card-body">
                .border-left-info
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-warning">
            <div class="card-body">
                .border-left-warning
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-danger">
            <div class="card-body">
                .border-left-danger
            </div>
        </div>

        <div class="card mb-4 py-3 border-left-dark">
            <div class="card-body">
                .border-left-dark
            </div>
        </div>

    </div>

    <!-- Border Bottom Utilities -->
    <div class="col-lg-6">

        <div class="card mb-4 py-3 border-bottom-primary">
            <div class="card-body">
                .border-bottom-primary
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-secondary">
            <div class="card-body">
                .border-bottom-secondary
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-success">
            <div class="card-body">
                .border-bottom-success
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-info">
            <div class="card-body">
                .border-bottom-info
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-warning">
            <div class="card-body">
                .border-bottom-warning
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-danger">
            <div class="card-body">
                .border-bottom-danger
            </div>
        </div>

        <div class="card mb-4 py-3 border-bottom-dark">
            <div class="card-body">
                .border-bottom-dark
            </div>
        </div>

    </div>

</div>

<page-heading id="colors" [title]="'Colors Utilities'"></page-heading>

<!-- Colors Content Row -->
<div class="row">

    <!-- First Column -->
    <div class="col-lg-4">

        <!-- Custom Text Color Utilities -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Custom Text Color Utilities</h6>
            </div>
            <div class="card-body">
                <p class="text-gray-100 p-3 bg-dark m-0">.text-gray-100</p>
                <p class="text-gray-200 p-3 bg-dark m-0">.text-gray-200</p>
                <p class="text-gray-300 p-3 bg-dark m-0">.text-gray-300</p>
                <p class="text-gray-400 p-3 bg-dark m-0">.text-gray-400</p>
                <p class="text-gray-500 p-3 m-0">.text-gray-500</p>
                <p class="text-gray-600 p-3 m-0">.text-gray-600</p>
                <p class="text-gray-700 p-3 m-0">.text-gray-700</p>
                <p class="text-gray-800 p-3 m-0">.text-gray-800</p>
                <p class="text-gray-900 p-3 m-0">.text-gray-900</p>
            </div>
        </div>

        <!-- Custom Font Size Utilities -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Custom Font Size Utilities</h6>
            </div>
            <div class="card-body">
                <p class="text-xs">.text-xs</p>
                <p class="text-lg mb-0">.text-lg</p>
            </div>
        </div>

    </div>

    <!-- Second Column -->
    <div class="col-lg-4">

        <!-- Background Gradient Utilities -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Custom Background Gradient Utilities</h6>
            </div>
            <div class="card-body">
                <div class="px-3 py-5 bg-gradient-primary text-white">.bg-gradient-primary</div>
                <div class="px-3 py-5 bg-gradient-secondary text-white">.bg-gradient-secondary</div>
                <div class="px-3 py-5 bg-gradient-success text-white">.bg-gradient-success</div>
                <div class="px-3 py-5 bg-gradient-info text-white">.bg-gradient-info</div>
                <div class="px-3 py-5 bg-gradient-warning text-white">.bg-gradient-warning</div>
                <div class="px-3 py-5 bg-gradient-danger text-white">.bg-gradient-danger</div>
                <div class="px-3 py-5 bg-gradient-light text-white">.bg-gradient-light</div>
                <div class="px-3 py-5 bg-gradient-dark text-white">.bg-gradient-dark</div>
            </div>
        </div>

    </div>

    <!-- Third Column -->
    <div class="col-lg-4">

        <!-- Grayscale Utilities -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Custom Grayscale Background Utilities</h6>
            </div>
            <div class="card-body">
                <div class="p-3 bg-gray-100">.bg-gray-100</div>
                <div class="p-3 bg-gray-200">.bg-gray-200</div>
                <div class="p-3 bg-gray-300">.bg-gray-300</div>
                <div class="p-3 bg-gray-400">.bg-gray-400</div>
                <div class="p-3 bg-gray-500 text-white">.bg-gray-500</div>
                <div class="p-3 bg-gray-600 text-white">.bg-gray-600</div>
                <div class="p-3 bg-gray-700 text-white">.bg-gray-700</div>
                <div class="p-3 bg-gray-800 text-white">.bg-gray-800</div>
                <div class="p-3 bg-gray-900 text-white">.bg-gray-900</div>
            </div>
        </div>
    </div>

</div>

<page-heading id="others" [title]="'Others Utilities'"></page-heading>

<!-- Content Row -->
<div class="row">

    <div class="col-lg-6">

        <!-- Overflow Hidden -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Overflow Hidden Utilty</h6>
            </div>
            <div class="card-body">
                Use <code>.o-hidden</code> to set the overflow property of any element to hidden.
            </div>
        </div>

        <!-- Progress Small -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Progress Small Utility</h6>
            </div>
            <div class="card-body">
                <div class="mb-1 small">Normal Progress Bar</div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="mb-1 small">Small Progress Bar</div>
                <div class="progress progress-sm mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                Use the <code>.progress-sm</code> class along with <code>.progress</code>
            </div>
        </div>

        <!-- Dropdown No Arrow -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Dropdown - No Arrow</h6>
            </div>
            <div class="card-body">
                <div class="dropdown no-arrow mb-4">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown (no arrow)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                Add the <code>.no-arrow</code> class alongside the <code>.dropdown</code>
            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <!-- Rotation Utilities -->
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Rotation Utilities</h6>
            </div>
            <div class="card-body text-center">
                <div class="bg-primary text-white p-3 rotate-15 d-inline-block my-4">.rotate-15</div>
                <hr>
                <div class="bg-primary text-white p-3 rotate-n-15 d-inline-block my-4">.rotate-n-15</div>
            </div>
        </div>

    </div>

</div>