@import '../card-info/card-info.component.scss';

.chart-pie {
	position: relative;
	height: 15rem;
	width: 100%;
}

@media (min-width: 768px) {
	.chart-pie {
		height: calc(20rem - 43px) !important;
	}
}
