<page-heading [title]="'Charts'"></page-heading>

<p class="mb-4">
    Chart.js is a third party plugin that is used to generate the charts in this theme. The 
    charts below have been customized - for further customization options, please visit the 
    <a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.
</p>

<!-- Content Row -->
<div class="row">

    <div class="col-xl-8 col-lg-7">

        <!-- Area Chart -->
        <area-chart></area-chart>
        
        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
                <hr>
                Styling for the bar chart can be found in the <code>/js/demo/chart-bar-demo.js</code> file.
            </div>
        </div>

    </div>

    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5 col-md-6">
        <donut-chart></donut-chart>
    </div>
    
</div>