<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button 
        id="sidebarToggleTop" 
        (click)="toogleSidebar()" 
        class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <topbar-search></topbar-search>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <topbar-messages-xs></topbar-messages-xs>

      <!-- Nav Item - Alerts -->
      <topbar-alerts></topbar-alerts>

      <!-- Nav Item - Messages -->
      <topbar-messages></topbar-messages>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <topbar-user-info></topbar-user-info>

    </ul>

</nav>
<!-- End of Topbar -->